.invitationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
  text-align: center;

  .form-buttons {
    display: flex;
    margin-top: 20px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #accept {
    background-color: #287700;
    color: #ffffff;
  }

  #reject {
    background-color: #990505;
    color: #ffffff;
  }

  #tentative {
    background-color: #630599;
    color: #ffffff;
  }

}

.container-img{
  img{
    max-width: 300px;
    width: 100%;
    height: 100%;
  }
}

.message-confirmation{

  .error-message{
    color: #990505;
  }
  .success-message{
    color:var(--primary-purple);
  }
  font-size: 4rem;
}